@charset "UTF-8";

html {
    height: 100%;
}

body{  
    height: 100%;
    margin: 0;
}

main{
    
}

header{
    
    width: 1820px;
    height: 100px;
}



#banner{
    display: flex;
    width: 1440px;
    height: 388px;
}

#banner img{

    width: 1440px;
    height: 388px;
}

#leftmod {
    width: 700px;
    height: 481px;
    
}

#midmod {

    width: 700px;
    height: 481px;
}

#rightmod {
    width: 360px;
    height: 918px;
}

.content{
    background-color: grey;
}

footer{
    width: 1820px;
    height:60px;
    background-color: #0254A0;
}

.container{
    display: flex;
}