@charset "UTF-8";

html{
    height:100%;
}

body{
    height: 100%;
    margin:0;
}

main{
    height: 99.5%;
}

/* -----------------Columns----------------- */
#cols{
    height: 97%;
}

/* -------First Column------- */
#firstcol{
    height: 100%;
}

header{
    height: 40%;
}

/* header h1{
    font-size: 4em;
}

header h2{
    font-size: 2em;
}
 */
aside{
    height: 60%;
}
/* ----------------------------------------------- */

/* -------Second Column------- */
#secondcol{
    height: 100%;
}

nav{
    height: 7%;
    
}

section{
    height: 93%;
}
/* ------------------------------------------------ */

footer{
    height: 3.5%;
}
