@charset "UTF-8";

html{
    height:100%;
}

body{
    height:100%;
    margin:0;
}

#firstcol{
    height: 95%;
}

#secondcol{
    height: 95%;
}

footer{
    height: 3%;
}

header{
    height: 40%;
    
}

aside{
    height: 60%;
}