@charset "UTF-8";

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black;
}

header{
    height: 23px;
    background-color: #505050;
}

section{
    height: 100%;
    display: flex;
}

aside{
    background-color: #505050;
    width: 45px;
}

#tray{
    min-width: 144px;
    background-color: #7b7575;
    transition: width 1s;
    color: white;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

div.tray div{
    min-width: 144px;
    box-sizing: border-box;
    border: 5px solid cyan;
}

#program{
    background-color: #060606;
    width: 100%;
    flex-direction: column;
}

nav{
    height: 34px;
}

button{
    width: 173px;

}

#breadcrumb{
    height: 23px;
    background-color: #161616
}

textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #060606;
    border: 0 solid #060606;
    resize: none;
    color: #ffffff;
    outline: none;
    overflow-y: auto;
}   

footer{
    height: 16px;
    background-color: #0254A0;
}

.hide{
    width: 0;
    transition: all 1s;
}